:root{
    --grid-container-margin-top:30px;
    --grid-container-margin-bottom:50px;
    --header-height:100px;
    --footer-height:100px;
    --main-height:calc(
            100vh 
            - var(--grid-container-margin-top) 
            - var(--grid-container-margin-bottom) 
            - var(--header-height) 
            - var(--footer-height)
        );
}